<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
{{#each metadata}}
	{{{ this }}}
{{/each}}
    <link href="/public/styles/main.css" rel="stylesheet"/>
{{#each stylesheets}}
{{{ this }}}
{{/each}}
    <script src="/public/components/jquery/dist/jquery.min.js"></script>
    <script src="/public/components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="/public/scripts/site.js"></script>
</head>
<body>
